@font-face 
{
	font-family: "Raleway";
	src: url(police/Raleway-VariableFont_wght.ttf) format("truetype"),
	url(police/Raleway-Italic-VariableFont_wght.ttf) format("truetype");
}

body 
{
	font-family: "Raleway", sans-serif;
	margin-left: 55px;
	margin-right: 77px;
}

header
{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: flex-end;
	margin-top: 44px;
	margin-bottom: 63px;
}


.liens 
{
	margin-left: 70px;
	text-decoration: none;
	color: black;
}

.liens:hover
{
	color: #0065FC;
	border-top: 3px solid #0065FC;
}

#logo
{
	width: 61px;

}
.menu_filtres
{
	font-weight: 700; /*obligatoire de mettre le font weight pour un h1 ?*/
}

.location /*class du form*/
{
	font-family: "Raleway";
	font-weight: 700; 
	padding: 12px;
	font-size: 16px;
}

#localisation /*logo ping*/
{
	border: 1px solid #F2F2F2;
	border-radius: 15px 0px 0px 15px;
	background-color: #F2F2F2;
}

#vacances /*barre de recherches*/
{
	border: 1px solid #F2F2F2;
}

#bouton /*bouton rechercher*/
{
	color:white;
	background: #0065FC;
	border-radius: 0px 15px 15px 0px;
	border: 1px solid #0065FC;
}

#loupe /* qui apparaîtra avec du responsive à la place du Rechercher*/
{
	display: none;
	color:white;
	background: #0065FC;
	border-radius: 0px 15px 15px 0px;
	border: 1px solid #0065FC;	
}

.tags /*l'ensemble de l'étape 5*/
{
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 700;
}

.choices
{
	border: #D9D9D9 solid 2px;
	padding: 10px;
	margin-inline: 15px;
	border-radius: 25px 25px 25px 25px;
	color: black;
	text-decoration: none;
}

.choices i
{
	color: #0065FC;
	padding-right: 10px;
}

.choices:hover
{
	background-color: #DEEBFF;
}

.logements
{
	display: flex;
	align-items: center;
}

.logements i
{
	color: #0065FC;
	border: #D9D9D9 solid 0.5px; 
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10px;
	width: 10px;
	padding: 6px;
	margin-right: 6px;
	font-size: 10px;
}