@font-face 
{
	font-family: "Raleway";
	src: url(police/Raleway-VariableFont_wght.ttf);
}

body 
{
	font-family: "Raleway", sans-serif;
	margin : 40px 40px 0px 40px; /*ordre : top, right, bottom, left. les margin de la page web entière*/
	max-width: 1400px; /*pour que la dimension de la page reste la même sur tous les formats d'écran*/
}

header
{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 60px;
}

i /*met tous les icons de la page en bleu*/
{
	color: #0065FC;
}

h1 /*taille de tous les h1 de la page web pour correspondre à la maquette, changer disposition (h1,h2,h3...)*/
{
	font-size: 1.3em;
}

footer /*dimension et orientation du footer*/
{
	display: flex;
	background-color: #F2F2F2;
}

.liens /*liens de navigation du site*/
{
	margin-left: 70px; /*espace entre les onglets de navigation*/
	text-decoration: none;
	color: black;
	padding-top: 10px; /*pour créer un espace entre la bordure top qui apparaît dans hover et l'onglet*/
}

.liens:hover
{
	color: #0065FC;
	border-top: 3px solid #0065FC;
}

#logo /*logo du site*/
{
	width: 61px;
}

.filtres /*la partie recherche et tags avec l'info*/
{
	margin-bottom: 25px; 
}

.location /*class de l'intérieur du formulaire*/
{
	font-family: "Raleway";
	font-weight: bold;
	padding: 12px;
	font-size: 1.1em;
	margin-top: 10px; /*marge entre le haut du form et bas du p précédent*/
}

#localisation /*bordure logo ping*/
{
	border-radius: 15px 0px 0px 15px;
	background-color: #F2F2F2;
}

#vacances, #localisation /*bordures de barre de recherches et logo ping*/
{
	border: 1px solid #F2F2F2;
}

#logo_ping
{
	color: black;
}

#bouton, #loupe /*bouton rechercher et bouton loupe*/
{
	color:white;
	background-color: #0065FC;
	border-radius: 0px 15px 15px 0px;
	border: 1px solid #0065FC;
}

#loupe /*qui apparaîtra avec du responsive à la place du Rechercher*/
{
	display: none;	
}

.tags /*l'ensemble de l'étape 5 avec filtres et tags*/
{
	display: flex;
	flex-flow: row wrap; /*wrap en prévision du responsive*/
	align-items: center;
	font-weight: bold;
	margin-block: 20px; /*marges du bloc (top et bottom en l'occurence)*/
}

.tags ul
{
	padding-inline-start: 15px; /*pour enlever le padding start par défaut de 40px du ul*/
}

.choices
{
	border: #D9D9D9 solid 2px;
	padding: 10px;
	margin-inline: 15px;
	border-radius: 25px 25px 25px 25px;
	color: black;
	text-decoration: none;
}

.choices i
{
	padding-right: 10px;
}


.choices:hover
{
	background-color: #DEEBFF;
}

.logements
{
	display: flex;
	align-items: center;
}

.logements i
{
	border: #D9D9D9 solid 0.5px; 
	border-radius: 50%;
	display: flex;
	justify-content: center;
	width: 10px;
	padding: 6px;
	margin-right: 6px;
	font-size: 10px;
}

#article_aside /*tout le bloc avec article et aside*/
{
	display: flex;
	justify-content: space-between;
}

.all_cards_article /*le bloc article avec toutes les cards Hébergements*/
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: flex-start; /*pour que les éléments de la page soient alignés au début du bloc et non sur toute la hauteur*/
	background-color: rgba(210, 210, 210, 0.2);
	border-radius: 20px;
	padding-inline: 50px; /*margin entre le bloc entier et les blocs internes*/
	max-width: 60%; /*max-width du bloc entier*/
}

.all_cards_article h1, #activites h1 /* pour que les titres de l'article et de l'activité tiennent sur une ligne, il prend tout la largeur du bloc*/
{
	width: 100%;
}

.cards_hebergements  /*le bloc entier de la card*/ 
{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 20px; /*arrondi sur tous les bords*/
	width: 250px;
	height: 199px;
	display: flex;
	flex-direction: column;
	background-color: white;
	text-decoration: none;
	color: black;
	margin-bottom: 30px; /*espacement de la ligne horizontale entre les cards*/
	padding-bottom: 10px; /*espacement intérieur du bloc*/
}

.cards_hebergements:hover, .cards_populaires:hover, .cards_activites:hover  
{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.image_hebergements /*image card Hébergements*/
{
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
	width: 97%;
	height: 120px;
	padding-top: 3px;
	align-self: center;
}

.container_hébergements /*texte entier sous l'image de la card*/
{
	margin-left: 20px; /*marge enter le texte et le bord du bloc*/
	margin-top: 5px;
}

.container_hébergements h4, p
{
	margin-block: 5px 5px;
}

.lien_afficherplus
{
	text-decoration: none;
	color: black;
	width: 100%;
	font-weight: bold;
} 

#elem1, #elem2, #elem3, #elem4, #elem5 /*tous les icons étoiles de la page web*/
{
	font-size: 0.8em;
}

#elem5 /*l'étoile grisée*/
{
	color: #D9D9D9;
}

.all_cards_aside /*le bloc aside avec les cards verticales*/
{
	display: flex;
	flex-direction: column;
	background-color: rgba(210, 210, 210, 0.2);
	border-radius: 20px;
	width: 25%;
	padding-inline: 30px;
}

.titre_populaires
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.cards_populaires /*tout le bloc card de populaires*/
{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 20px; /* 5px rounded corners */
	display: flex;
	flex-direction: row;
	background-color: white;
	text-decoration: none;
	color: black;
	margin-bottom: 30px;
	justify-content: space-between; /*espace entre images et conteneur texte*/
}

.image_populaires /*image card populaires*/
{
	border-radius: 20px 0px 0px 20px;
	object-fit: cover;
	width: 35%;
	height: 135px;
	padding: 5px;
}

.container_populaires /*le bloc du texte de la card*/
{
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-block: 12px; /*marges des contours du bloc de texte*/

}

.container_populaires h4
{
	width: 80%; /*largeur du titre du conteneur h4 de Populaires*/
	margin-block: 0px; /*enlève les marges du bloc h4*/
}

.currency
{
	font-weight: bold;
}

#activites /*tout le bloc activites*/
{
	margin-block: 40px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.cards_activites /*la dimension des cards d'activites*/
{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: black;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 20px 20px 20px 20px;
	width: 22%; /*pour créer des écarts entre les cards et déterminer la largeur des cards par rapport aux marges de la page*/
}

.images_activites /*bloc image d'activites*/
{
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
	height: 440px;
}

.container_activites /*bloc texte d'activites*/
{
	font-weight: bold;
	margin: 15px;
}


.nav_footer /*dimension des blocs dans le footer*/
{
	margin-left: 80px;
	margin-right: 180px;
	margin-block: 20px;
}

.nav_footer ul
{
	padding-left: 0px;
	display: flex;
	flex-direction: column;
}

.nav_footer a /*écart entre les liens*/
{
	margin-bottom: 15px; /*écart à la marge des liens et non padding*/
	color: black;
	text-decoration: none;
	margin-right: auto; /*marge qui fit pour la taille des liens*/
}

.nav_footer a:hover /*pas obligatoire, pour qu'on remarque que ce sont des liens cliquables*/
{
	border-bottom: black solid 1px;
}